 /*font-family: 'Montserrat', sans-serif;
*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

#wrap{

	width: 400px;
	height: auto;
	margin: auto;
	padding-left: 19px;

}

.bloc{
	width: 389px;
	height: 452px;
	/*float: left;*/
	margin-top: 109px;
}

.bloc:nth-child(2){
	height: 234px;
}

.bloc:nth-child(3){
	height:600px;
	width: 399px;
}

.bloc:nth-child(4){
	height:600px;
	width: 399px;
}

.bloc:nth-child(5){
	height:260px;
	width: 399px;
}

.bloc:nth-child(6){
	height: 200px;
	width: 399px;
}

.rosa{
	background: url(../images/rosa.jpg) 0 0 no-repeat;
	max-height: 100%;
	max-width: 100%;
	width: 300px;
	height: 452px;
	background-size: contain;
	/*float: left;*/
	line-height: 452px;
	opacity: 0%;
}

h2.titre{

	color:white;
	font-size: 60pt;
	text-align: center;
}

h3{

	font-size: 50px;
	text-align: center;
}

span{

	color:black;

}

.line{
	line-height: 0px;
	text-align: center;
	font-size: 90px;
}

h2.right{
	text-align: center;
}


h2.left{
	text-align: center;
}

.txt{

	width: 323px;
	height: 152px;
	float: left;
}

.bloc1{
	width: 460px;
	height: 571px;
	float: left;
	background:url(../images/bloc1.gif) 0 0 no-repeat;
	display: none;
}

.droite{
	width: 389px;
	height: 571px;
	box-shadow: 2px 0px 60px #cfddea;
	float: left;
	padding: 4px;

}

.pin{

	width: 381px;
	height: 329px;
	background: url(../images/pin.jpg)0 0 no-repeat;
}

p{
	padding:20px;
	line-height: 24px;

}

.btn{

	border-radius: 20px;
	border:1px solid crimson;
	width: 152px;
	height: 37px;
	background: white;
	display: block;
	margin-left: 20px;

}

a{

	text-decoration: none;
	text-align: center;
	line-height: 37px;
}

.btn:hover, a:hover{
	background: crimson;
	color: white;
}

.position{
	position: relative;
	bottom: 50px;
}

.gauche{

	width: 399px;
	height: 573px;
	float: left;
	box-shadow: 2px 0px 60px #cfddea;
	padding: 8px;
}

.noel{
	width: 382px;
	height: 355px;
	background: url(../images/noel.jpg) 0 0 no-repeat;

}

.bloc2{

	width: 450px;
	height: 573px;
	float: left;
	background: url(../images/bloc2.gif) 0 0 no-repeat;
	display: none;
}

.centre{
	text-align:center;

}

.phone{

	width: 399px;
	height: 327px;
	float: left;
	background: url(../images/phone.jpg)0 0 no-repeat;
	text-indent: -9000px;
}

.contact{

	padding-left: 37px;
	height: 317px;
	margin-top: 50px;
	width: 428px;
	float: left;
}

.pop{

	position: relative;
	top: 54px;
	text-align: center;
	z-index: 1;
	background: white;
	box-shadow: 2px 0px 60px #cfddea;
	width: 391px;
	height: 58px;
	line-height: 58px;


}

.position2{

	/*position: relative;
	bottom: 325px;*/
	top:0px;
	position: absolute;
	left:31px;
}

.sabuj{

	margin-top: 20px;
	margin-left: 0;
}

footer{

	background: #1f2022;
	width: 100%;
	height: 460px;
	float: left;
	/*margin-top: 467px;*/
}

.ombre{

	box-shadow: 2px 31px 24px #eef7fc;

}

.bd{
	background: url(../images/bord-droit.gif) 0 0 no-repeat
	width:122px;
	height: 367px;
	float: left;
	margin-top: 139px;
	display: none;
}

nav{
	width: 250px;
	height: 222px;
	position: fixed;
	top: 10px;
	right: 0;
	float: left;
}

.menu{

	width: 30px;
	float: right;
	margin-right: 11rem;
	display: none;

}


.reds{

	background: crimson;
	width: 2px;
	height: 130px;
	float: right;
}

ul{

	list-style: none;
}

nav{

	width: 168px;
	float: right;
}

nav ul li{
	display: block;
	width: 168px;
	text-align: center;
	line-height: 21px;
}

nav ul li a {

	text-decoration: none;
	color: black;
	display: block;
}

.us{
	color: crimson;
}

.anime{

	animation: haut 1s ease-in 1 forwards; 
}

@keyframes haut{

	0%{
		margin-top: -100%;
		color: transparent;
	}
	80%{
		color: transparent;
	}
	100%{
		margin-top: 0%;
	}
}


.anime2{

	animation: opacite 1s ease-in 1 forwards; 
}

@keyframes opacite{

	0%{
	
		color: white;
	}

	100%{
		color:black;
	}
}

@media screen and (min-width:760px) and (max-width:959px){

}


@media screen and (min-width:460px) and (max-width:759px){

}

@media screen and (min-width:320px) and (max-width:459px){


}
